*{
    color:white;
    background:black;
    -webkit-border-radius: 5px;
}

#workspace{
    height: 480px;
    width: 640px;
    left: 50%;
    margin: -240px 0 0 -320px;
    position: absolute;
    top: 50%;
    background:black;
    border:1px solid green;
}
