<html>
    <head>
        <title>RapidGraph</title>
        
        <!-- Include all of the application js support files -->
        <script type='text/javascript'>
            {% include "rapidgraph_core.js" %}
            {% include "rapidgraph_ui.js" %}
            {% include "graph.js" %}
        </script>
        
        <!-- Include jQuery libraries -->
        <script type='text/javascript' src="static/core/js/jquery-1.4.2.min.js">
        </script>

    </head>
    <body>

        <h1>Hello! Whoa...</h1>

    </body>
</html>
