<html>
    <head>
        <title>RapidGraph</title>
        
        <!-- Include CSS styles -->
        <style>
            {% include "styles.css" %}
        </style>
        
        <!-- Include general javascript libraries -->
        <script type='text/javascript' src="static/core/js/jquery-1.4.2.min.js"></script>
        <script type='text/javascript' src="static/core/js/raphael-1.3.1.min.js"></script>
        <script type='text/javascript' src="static/core/js/jquery.scale.js"></script>
        <script type='text/javascript' src="static/core/js/util.js"></script>
        
        <!-- Include jQuery UI components (library and css stylesheet) -->
        <script type='text/javascript' src="static/core/js/jquery-ui-1.8.min.js"></script>
        <link type="text/css" href="static/core/css/jquery-ui-darkness/theme.css" rel="stylesheet" />
        
        <!-- main js code -->
        <script type='text/javascript'>
            //////////////
            // INCLUDES //
            //////////////
            {% include "rapidgraph_ui.js" %}
            {% include "rapidgraph_graph.js" %}
            
            /////////////////
            // GLOBAL DATA //
            /////////////////
            var ui = new rapidgraph_ui(); // create the user interface
            
            //////////////////////
            // GLOBAL FUNCTIONS //
            //////////////////////
            
            // to get the viewport dimensions
            function screenHeight(){ return Screen.getViewportHeight() };
            function screenWidth(){ return Screen.getViewportWidth() };
            
            ///////////
            // START //
            ///////////
            
            // once the document is ready, start the user interface
            $(document).ready( function(){ ui.init() });
        </script>
    </head>
    
    <body>        
        <div id='main' class='panel'></div>
        
        <div id='left' class='panel'>left panel</div>
        
        <div id='right' class='panel'>right panel</div>
        
        <div id='bottom' class='panel'>
            <table border=0>
                <tr>
                    <td colspan=2>TEMPORARY UI CONTROLS:</td>
                </tr>
                <tr>
                    <td>all elements:</td>
                    <td>
                        <div id="all">
                            <button id='clearall' class="ui-button ui-widget ui-state-default ui-corner-all">
                               <span class="ui-button-text">Clear All</span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>nodes:</td>
                    <td>
                        <div id="nodes">
                            <button id='createnew' class="ui-button ui-widget ui-state-default ui-corner-all">
                               <span class="ui-button-text">Create new</span>
                            </button>
                            
                            <button id='selectall' class="ui-button ui-widget ui-state-default ui-corner-all">
                               <span class="ui-button-text">Select all</span>
                            </button>
                            
                            <button id='deleteselected' class="ui-button ui-widget ui-state-default ui-corner-all">
                               <span class="ui-button-text">Delete selected</span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>edges:</td>
                    <td>
                        <div id="edges">
                            <button id='connectselected' class="ui-button ui-widget ui-state-default ui-corner-all">
                               <span class="ui-button-text">Connect selected (only two at a time)</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </body>
</html>
