<!--
    RapidGraphUI.html - RapidGraph's user interface
-->

<html>
    <head>
        <title>RapidGraph</title>
        
        <!-- Include general javascript libraries -->
        <script type='text/javascript' src="static/core/js/jquery-1.4.2.min.js"></script>
        <script type='text/javascript' src="static/core/js/raphael-1.3.1.min.js"></script>
        <script type='text/javascript' src="static/core/js/jquery.qtip-1.0.0-rc3.patchedForJQuery1.4.1.min.js"></script>
        <script type='text/javascript' src="static/core/js/jquery.scale.js"></script>
        <script type='text/javascript' src="static/core/js/jquery.editinplace.js"></script>
        <script type='text/javascript' src="static/core/js/util.js"></script>
        
        <!-- Include jQuery UI components (library and css stylesheet) -->
        <script type='text/javascript' src="static/core/js/jquery-ui-1.8.1.min.js"></script>
        <link type="text/css" href="static/core/css/jquery-ui-overcast/theme.css" rel="stylesheet" />
        
        <!-- Include RapidGraph UI styles -->
        <style>
            {% include "RapidGraph.css" %}
        </style>
        
        <!-- main js code -->
        <script type='text/javascript'>
        
            //////////////
            // INCLUDES //
            //////////////

            {% include "RapidGraph.js" %}
            {% include "RapidGraphUI.js" %}
            {% include "RapidGraphAPI.js" %}
            {% include "RapidGraphPlugMan.js" %}
            {% include "RaphGraph.js" %}
            
            ///////////
            // START //
            ///////////
            
            // once the document is ready, start the RapidGraph
            $(document).ready( function(){ RapidGraph.init() });
            
        </script>
    </head>
    
    <body>         
        <div id='top' class='panel ui-widget ui-widget-content'>
            <!--
            <center>
                <img src='static/core/images/logo.png' height='60'>
            </center>
            -->
            <table width=100%>
                <tr>
                    <td><h1>RapidGraph v0.01</h1></td>
                    <td align='right' id="plugins_title"></td>
                </tr>
            </table>
            
        </div>
        
        <div id='main' class='panel ui-widget ui-widget-content'></div>
        
        <div id='left' class='panel ui-widget ui-widget-content'>            
            <div id='button_new' class='left_panel_button'>Add (n)</div>
            <div id='button_delete' class='left_panel_button'>Remove (d)</div>
            <div id='button_selectAll' class='left_panel_button'>Select all (a)</div>
            <div id='button_reset' class='left_panel_button'>Reset (r)</div>
            <!--<div id='button_undo' class='left_panel_button'>Undo (z)*</div>-->
            <!--<div id='button_redo' class='left_panel_button'>Redo (y)*</div>-->
        </div>

        <div id='right' class='panel ui-widget ui-widget-content'>
            <div id="plugins_accordion"></div>
        </div>
        
        <div id='bottom'>
            RapidGraph © 2010 to present, 
            <a href='mailto:mcguirer@onid.oregonstate.edu'>Rob McGuire-Dale</a> 
            and <a href='mailto:andermic@onid.oregonstate.edu'>Michael Anderson
            </a>. RapidGraph is a senior capstone project of the 
            <a href='http://eecs.oregonstate.edu/'>Department of Electrical
            Engineering and Computer Science </a> at <a href='http://oregonstate.edu'>
            Oregon State University</a>. Hosting is provided by the wonderful 
            <a href='http://osuosl.org'>Open Source Lab</a>. To find out more 
            and download the source code, please visit our 
            <a href='http://trac.osuosl.org/rapidgraph'>project site</a>.
        </div>

    </body>
</html>
