*{
    color:white;
    background:black;
    font-family:monospace;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

b{
    color:blue;
    font-weight:heavy;
}

/* user interface panels */
.panel{
    display:block;
    position:absolute;
    
    overflow:hidden;
    
    padding:1em;
    margin:1em;

    border: 1px solid green;
}

#main{    
    margin-left:auto;
    margin-right:auto;
    padding:0;
    
}

#left{
    left:0;
    width:16%;
}

#right{
    right:0;
    width:16%;
}

#top{
    top:0;
    left:0;
}

/*
svg{
    border:1px solid blue;
}
*/


