/*
    RapidGraphUI.css - RapidGraph's user interface CSS styles
*/

body{
    background-image:url('static/core/css/jquery-ui-lightness/images/ui-bg_diagonals-thick_20_666666_40x40.png');
    background-repeat:all;
    font-family:monospace;
}

.tempUIctrl{
    cursor:pointer;
    padding:0;
    margin-left:0;
    text-indent:0;
    text-sytle:underline;
}

#plugin_title{
    margin:0;
}

#plugin_subtitle{
    margin:0;
}

/*
b{
    color:blue;
    font-weight:heavy;
}
*/

/* user interface panels */
.panel{
    display:block;
    position:absolute;
    
    overflow:hidden;
    
    padding:10px;
    margin:10px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    border: 1px solid lightgrey;
}

#main{    
    margin-left:auto;
    margin-right:auto;
    padding:0;
    
}

#left{
    left:0;
}

#right{
    right:0;
    width:350px;
}

#top{
    top:20px;
    left:0;
}

#bottom{
    position: absolute;
    bottom:0;
    
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    
    text-align: center;
    
    font-family: Trebuchet MS, Helvetica, Arial, sans-serif; 
    font-size: 1.1em;
    font-size: 1em;
}

#bottom a{
    color: #333333;
}

.left_panel_button{
    display:block;
    text-align:left;
    width:120px;
}

/* Just for debug purposes
svg{
    border:1px solid blue;
}
*/
