<!--
    RapidGraphUI.html - RapidGraph's user interface
-->

<html>
    <head>
        <title>RapidGraph</title>
        
        <!-- Include RapidGraph UI styles -->
        <style>
            {% include "RapidGraph.css" %}
        </style>
        
        <!-- Include general javascript libraries -->
        <script type='text/javascript' src="static/core/js/jquery-1.4.2.min.js"></script>
        <script type='text/javascript' src="static/core/js/raphael-1.3.1.min.js"></script>
        <script type='text/javascript' src="static/core/js/jquery.scale.js"></script>
        <script type='text/javascript' src="static/core/js/util.js"></script>
        
        <!-- Include jQuery UI components (library and css stylesheet) -->
        <script type='text/javascript' src="static/core/js/jquery-ui-1.8.min.js"></script>
        <link type="text/css" href="static/core/css/jquery-ui-darkness/theme.css" rel="stylesheet" />
        
        <!-- main js code -->
        <script type='text/javascript'>
        
            //////////////
            // INCLUDES //
            //////////////

            {% include "RapidGraph.js" %}
            {% include "RapidGraphUI.js" %}
            {% include "RapidGraphAPI.js" %}
            {% include "RapidGraphPluginManager.js" %}
            {% include "RaphGraph.js" %}
            
            ///////////
            // START //
            ///////////
            
            // once the document is ready, start the main client-side application
            $(document).ready( function(){ RapidGraph.init() });
            
        </script>
    </head>
    
    <body>         
        <div id='top' class='panel'>
            <!--
            <center>
                <img src='static/core/images/logo.png' height='60'>
            </center>
            -->
            <table width=100%>
                <tr>
                    <td><h1>RapidGraph v0.001</h1></td>
                    <td align='right'>
                        <form>
                            <select id='plugins_dropdown'>                                
                                <option value='nutin' selected='selected'>Select a plugin...</option>
                                <option value='JerrySeinfeld'>Jerry Seinfeld</option>
                                <option value='GeorgeCostanza'>George Costanza</option>
                                <option value='ElaineBenes'>Elaine Benes</option>
                                <option value='CosmoKramer'>Cosmo Kramer</option>
                            </select>
                        </form>
                    </td>
                </tr>
            </table>
            
        </div>
        
        <div id='main' class='panel'></div>
        
        <div id='left' class='panel'>
            <h3>Temporary UI controls:</h3>
            
            <p align='center'>
                <div id="nodes">
                    <p id='createnew' class='tempUIctrl'>Create new node</p>
                    <p id='selectall' class='tempUIctrl'>Select all nodes</p>
                </div>
            </p>
            
            <p align='center'>
                <div id="edges">
                    <p id='createnew' class='tempUIctrl'>Connect selected nodes<br>(max 2)</p>
                    <p id='selectall' class='tempUIctrl'>Select all edges</p>              
                </div>
            </p>
            
            <p align='center'>
                <div id="all">
                    <p id='clear' class='tempUIctrl'>Clear all elements</p>
                    <p id='selectall' class='tempUIctrl'>Select all elements</p>
                    <p id='deleteselected' class='tempUIctrl'>Delete selected elements</p>               
                </div>
            </p>
            
        </div>

        <div id='right' class='panel'>
            <h3>Instructions:</h3>
            <p>
                To <b>create a new node</b>, click on the <i>Create new</i>
                button.
            </p>
            <p>
                To <b>select any element</b>, click on it without moving it. 
                Click on it once more to <b>deselect</b> it, or click on the
                background to <b>deselect everything</b>.
            </p>
            <p>
                To <b>create an undirected edge</b>, select two nodes and click
                the <i>Connect selected</i> button.
            </p>
            <p>
                To <b>delete a node</b> (and any attached edges), drag it off of
                the graph surface.
            </p>
            <p>
                To <b>edit a label or weight</b> of any element, double click on
                it.
            </p>
        </div>

    </body>
</html>
