<!--
    RapidGraphUI.html - RapidGraph's user interface
-->

<html>
    <head>
        <title>RapidGraph</title>
        
        <!-- Include general javascript libraries -->
        <script type='text/javascript' src="static/core/js/jquery-1.4.2.min.js"></script>
        <script type='text/javascript' src="static/core/js/raphael-1.3.1.min.js"></script>
        <script type='text/javascript' src="static/core/js/jquery.qtip-1.0.0-rc3.patchedForJQuery1.4.1.min.js"></script>
        <script type='text/javascript' src="static/core/js/jquery.scale.js"></script>
        <script type='text/javascript' src="static/core/js/jquery.editinplace.js"></script>
        <script type='text/javascript' src="static/core/js/util.js"></script>
        
        <!-- Include jQuery UI components (library and css stylesheet) -->
        <script type='text/javascript' src="static/core/js/jquery-ui-1.8.1.min.js"></script>
        <link type="text/css" href="static/core/css/jquery-ui-overcast/theme.css" rel="stylesheet" />
        
        <!-- Include RapidGraph UI styles -->
        <style>
            {% include "RapidGraph.css" %}
        </style>
        
        <!-- main js code -->
        <script type='text/javascript'>
        
            //////////////
            // INCLUDES //
            //////////////

            {% include "RapidGraph.js" %}
            {% include "RapidGraphUI.js" %}
            {% include "RapidGraphAPI.js" %}
            {% include "RapidGraphPlugMan.js" %}
            {% include "RaphGraph.js" %}
            
            ///////////
            // START //
            ///////////
            
            // once the document is ready, start the RapidGraph
            $(document).ready( function(){ RapidGraph.init() });
            
        </script>
    </head>
    
    <body>         
        <div id='top' class='panel ui-widget ui-widget-content'>
            <!--
            <center>
                <img src='static/core/images/logo.png' height='60'>
            </center>
            -->
            <table width=100%>
                <tr>
                    <td><h1>RapidGraph v0.01</h1></td>
                    <td align='right' id="plugins_title"></td>
                </tr>
            </table>
            
        </div>
        
        <div id='main' class='panel ui-widget ui-widget-content'></div>
        
        <div id='left' class='panel ui-widget ui-widget-content'>            
            <div id='button_new'>Add (n)</div>
            <div id='button_delete'>Remove (d)</div>
            <div id='button_selectAll'>Select all (a)</div>
            <div id='button_reset'>Reset (r)</div>
            <div id='button_undo'>Undo (u)*</div>
            <div id='button_redo'>Redo (r)*</div>
        </div>

        <div id='right' class='panel ui-widget ui-widget-content'>
            <div id="plugins_accordion"></div>
        </div>
        
        <div id='bottom'></div>

    </body>
</html>
